.hamburger {
  position: relative;  
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 55px;
  height: 55px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;
  padding: 0 6px;
  z-index: 99999;
  margin: 10px;
}

.hamburger:focus {
  outline: none;
}

.hamburger:hover {
  opacity: 0.8;
}

.hamburger__line {
  display: inline-block;
  width: 44px;
  height: 5px;
  background-color: $primary;;
  margin:0;
  transition: 0.5s;
}

.hamburger .hamburger__line:nth-child(2) {
  width: 30px;
}

.hamburger .hamburger__line:nth-child(3) {
  width: 16px;
}

.hamburger.active .hamburger__line:nth-child(1) {
  transform: rotate(-45deg) translate(-10px, 14px);
  background-color: $primary;
}

.hamburger.active .hamburger__line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .hamburger__line:nth-child(3) {
  width: 44px;
  transform: rotate(45deg) translate(-14px, -16px);
  background-color: $primary;
}

@media only screen and (max-width: 64rem) {
  .hamburger {
    display: inline-block;
  }
}
