.header {
  position: relative;
  min-height: 80px;
  margin-left: 85px;
}

.header__logo-wrapper {
  position: relative;
  z-index: 6;
}

.header__logo {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  height: 224px;
  width: 170px;
}

.header__logo-image {
  position: absolute;
  width: 122px;
}

.header__navbar {
  min-height: 80px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.header__navbar-link {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  color: $dark;
  padding: 10px 0;
  line-height: 16px;
  font-weight: 700;
  transition: 0.2s opacity;
  cursor: pointer;
  z-index: 3;
  &:hover > .header__navbar-popup {
    visibility: visible;
  }
}

.header__language-wrapper {
  position: relative;
  min-height: 80px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.header__language {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: $dark;
  line-height: 16px;
  font-weight: 700;
  cursor: pointer;
  &:hover > .header__language-popup {
    visibility: visible;
  }
}

.header__language-popup {
  position: absolute;
  background-color: #f1f1f1;
  top: 100%;
  right: 0%;
  width: 80px;
  visibility: hidden;
  z-index: 3;
  padding-bottom: 14px;
  text-align: center;
}

.header__navbar-popup {
  position: absolute;
  background-color: #f1f1f1;
  top: 100%;
  left: 0%;
  width: 174px;
  visibility: hidden;
  z-index: 3;
  padding-bottom: 14px;
}

.popup-text {
  color: grey;
  padding: 9px 15px 10.2px 17px;
  transition: color 0.1s;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  &:hover {
    color: $white;
    background-color: $primary;
  }
}
.hamburger__language-wrapper {
  display: none;
}

.header__navbar-link-icon {
  display: none;
}

@media only screen and (max-width: 64rem) {
  .header {
    margin-left: 0px;
  }
  .header__navbar {
    display: none;
  }
  .header__language-wrapper {
    display: none;
  }

  .header__navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    min-height: 100vh;
    z-index: 5;
    overflow: hidden;
  }

  .header__navbar-wrapper.active {
    width: 100%;
    background-color: white;
    transition: width 0.5s;
    padding-top: 224px;
  }

  .header__navbar.active {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
  }
  .header__navbar-link {
    position: relative;
    min-height: 56px;
    width: 100%;
    text-align: center;
    transition: 0.1s all;
    padding: 20px 0;
    overflow: hidden;
    &:hover {
      background-color: #f1f1f1;
    }
    &:hover > .header__navbar-popup {
      visibility: hidden;
    }
  }
  .header__navbar-popup {
    visibility: hidden;
    width: 100%;
  }

  .popup-text {
    padding: 9px 15px 10.2px 17px;
    margin: 0;
    &:hover {
      color: $white;
      background-color: #6f6f70;
    }
  }

  .hamburger__language-wrapper {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 150px;
    right: 0;
    width: 100%;
    max-height: 56px;
    padding: 0 40px;
    z-index: 7;
  }

  .hamburger__language {
    max-width: 56px;
    margin: 0;
    &:hover {
      background-color: #f1f1f1;
    }
  }
  .header__navbar-link-icon-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 56px;
    z-index: 12;
        &:hover {
      background-color: #f1f1f1;
    }
  }
  .header__navbar-link.active{
    background-color: #f1f1f1;
  }

  .header__navbar-link.active  .header__navbar-link-icon {
    transform: rotate(180deg);
    background-color: #f1f1f1;
  }

  .header__navbar-link.active > .header__navbar-popup {
    position: relative;
    visibility: visible;
    height: 100%;
    top: 0;
    right: 0;
    min-height: 56px;
    text-align: center;
    transition: 0.1s all;
    padding: 20px 0;
    z-index: 1;
  }

  .header__navbar-link-icon {
    display: flex;
    position: absolute;
    width: 10px;
    top: 26px;
    right: 23px;
  }

  .header__logo {
    height: 150px;
    width: 130px;
  }
}
