.footer {
  padding: 60px 85px 90px 85px;
  font-size: 1rem;
}

.footer__logo {
  display: flex;
  justify-content: center;
}

.footer__regulations {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.footer__image-wrapper {
  position: relative;
  margin-bottom: 90px;
}

.footer__image {
  position: absolute;
  left: 0;
  width: 100%;
}

.footer__text {
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  color: $secondary;
}

.footer__icon-wrapper {
  min-width: 100px;
  display: flex;
  justify-content: flex-end;
}

.footer__icon {
  cursor: pointer;
  &:hover {
    transform: scale(1.3);
  }
}
@media only screen and (max-width: 64rem) {
  .footer__regulations {
    justify-content: center;
    margin-bottom: 30px;
  }
  .footer__icon-wrapper {
    justify-content: center;
  }
}

@media only screen and (max-width: 48em) {
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
