.hero {
  position: relative;
  height: 475px;
  padding: 110px 120px 80px;
  margin-left: 85px;
}

.hero__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 564px;
  object-fit: cover;
  z-index: 1;
}

.audio-wrapper{
  position: relative;
  display: inline-block;
  z-index: 1;
  margin-bottom: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  &:hover{
    transform: scale(1.2);
  }
}
@media only screen and (max-width: 64rem) {
  
  .hero {
    margin-left: 0px;
    padding: 110px 10px 80px 30px;
  }
}

@media only screen and (max-width: 48em) {

  .hero {
    margin-left: 0px;
    padding: 110px 10px 80px 10px;
  }

}