.info {
  background-color: $primary;
  padding: 175px 135px 30px 135px;
  position: relative;
  display: flex;
  margin-bottom: 100px;
}

.info__card {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.info__ruler {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
}

@media only screen and (max-width: 64rem) {
  .info{
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 48em) {
  .info {
    padding: 140px 10px 0 10px;
  }
}
