.products {
  position: relative;
  padding: 100px 135px 110px 150px;
  height: 100%;
}

.products__bg-primary {
  position: absolute;
  right: 0;
  top: 0;
  width: 240px;
  background-color: $primary;
  height: 100%;
  z-index: 0;
}

.products__info {
  padding: 20px 0;
}

.products__info-more-wrapper {
  padding-right: 30px;
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}

.products__info-more-arrow {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.products__image-wrapper {
  position: relative;
  padding-top: 75%;
  transition: all 0.2s ;
  cursor: pointer;
  &:hover{
    transform: scale(1.01);
  }
}

.products__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

@media only screen and (max-width: 75rem) {
  .products__image-wrapper {
    padding-top: 100%;
  }
}

@media only screen and (max-width: 64rem) {

  .products {
    padding: 0 135px 110px 85px;
  }
  
  .products__image-wrapper {
    padding-top: 75%;
  }

  .products__bg-primary {
    top: 30%;
    height: 70%;
  }

}

@media only screen and (max-width: 48em) {

  .products {
    padding: 0;
    margin-bottom: 60px;
  }
  
  .products__bg-primary {
    display: none;
  }
}
