.realization {
  padding-top: 99px;
  margin-right: 85px;
}

.realization__map {
  position: relative;
  height: 500px;
}

.realization__map-image {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  cursor: pointer;
  &:hover{
    box-shadow: 1px 1px 6px $primary;
  }
}

@media only screen and (max-width: 64rem) {
  .realization {
    margin-right: 0;
  }
}

@media only screen and (max-width: 48em) {
  .realization {
    padding-top: 0;
  }
}
