.trending {
  position: relative;
  padding: 270px 135px 168px 135px;
  height: 100%;
}

.trending__bg-primary {
  position: absolute;
  left: 0;
  top: 0;
  width: 240px;
  background-color: $primary;
  height: 100%;
  z-index: 0;
}

.trending__image-wrapper {
  position: relative;
  padding-top: 65%;
  object-fit: cover;
  transition: all 0.2s ;
  cursor: pointer;
  &:hover{
    box-shadow: 1px 1px 6px $primary;
  }
}

.trending__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trending__image-text {
  position: absolute;
  bottom: 34px;
  left: 0;
  color: $white;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 26px;
  padding: 0 40px;
  text-align: left;
  font-weight: 700;
  text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 75rem) {
  .trending {
    padding: 150px 85px 128px 135px;
  }
}

@media only screen and (max-width: 64rem) {
  .trending__image-wrapper {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 48em) {
  .trending {
    padding: 0;
  }

  .trending__bg-primary {
    display: none;
  }
}
