.margin-bottom--8 {
  margin-bottom: 8px;
}

.margin-bottom--16 {
  margin-bottom: 16px;
}

.margin-bottom--27 {
  margin-bottom: 27px;
}

.margin-bottom--39 {
  margin-bottom: 39px;
}

.margin-left--30 {
  margin-left: 30px;
}

.color--white {
  color: $white;
}
