@import "./flexbox-grid.scss";
@import "./variables.scss";
@import "./header/header.scss";
@import "./main/hero.scss";
@import "./main/info.scss";
@import "./main/products.scss";
@import "./main/trending.scss";
@import "./main/realization.scss";
@import "./footer/footer.scss";
@import "./header/hamburger.scss";
@import "./typography.scss";
@import "./helpers.scss";

@font-face {
    font-family: 'Klavika';
    font-weight: 400;
    src:
      url('../assets/fonts/klavika-regular.woff') format('woff'),
      url('../assets/fonts/klavika-bold.woff') format("woff");
  }

*{
    box-sizing: border-box;
}

body {
    font-family: 'Klavika', 'Barlow';
    margin: 0;
}

