.heading1 {
  position: relative;
  font-size: 52px;
  line-height: 65px;
  color: $white;
  font-weight: 400;
  padding: 10px 0;
  z-index: 3;
}

.heading2 {
  color: $dark2;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.96px;
  margin: 0;
}

.heading3 {
  background-color: $light;
  width: 100%;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  line-height: 34px;
  letter-spacing: -1px;
  padding: 2px 0;
  opacity: 80%;
  font-weight: 400;
}

.heading5 {
  color: $white;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.paragraph {
  color: $secondary;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

.nav-link {
  z-index: 3;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  color: $dark;
  padding: 10px 0;
  line-height: 16px;
  font-weight: 700;
  transition: 0.2s opacity;
  cursor: pointer;
  &:hover{
    opacity: 0.8
  }
}

@media only screen and (max-width: 48em) {
  .heading1 {
    text-align: center;
    font-size: 36px;
  }
  .heading2 {
    text-align: center;
    font-size: 32px;
  }
  .heading3{
    font-size: 22px;
  }
  .heading5{
    font-size: 14px;
  }
  .paragraph{
    font-size: 14px;
  }
}
